/activemq-client-5.14.0-SNAPSHOT.jar
/amqp-client-3.6.2.jar
/geronimo-j2ee-management_1.1_spec-1.0.1.jar
/geronimo-jms_1.1_spec-1.1.1.jar
/hawtbuf-1.11.jar
/kafka-clients-0.10.0.0.jar
/lz4-1.3.0.jar
/org.eclipse.paho.client.mqttv3-1.0.1.jar
/slf4j-api-1.7.21.jar
/snappy-java-1.1.2.4.jar
